#app{
    font-family: 'Open Sans', sans-serif;
}

main{
    height: 100%;
    overflow: auto;
}
.dashboard {
    height: 100vh;

    & .content-container{
        overflow: auto;
        background-color:  #E9F6FF;

        

        & .edit-card{
            background-color: white;
            border-radius: .5rem;
            padding: 2rem;
            width: 90%;
            

            

            & .edit-card-title{
                color: #338DFF;
                text-align: center;
                font-weight: bold;
                margin-bottom: 1.5rem;
            }

            & .bg-img{
                background-image: url('/images/jumbo_right_bg.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                display: flex;
                align-items: cemnter;
                justify-content: center;

                & img{
                    padding: 1.5rem;
                    object-fit: cover;
                    object-position: center;
                }
            }

            & .form-group{
                padding-top: .6rem;
                padding-bottom: .6rem;

                & .form-control{
                    background-color: #E9F6FF;
                    padding: .5rem;
                }

            }

            & .btn-primary{
                background-color: #338DFF;
                color: #E9F6FF;
                border-radius: 0;
            }

            & .spec-box{
                padding: 3px;
                max-height: 260px;
                overflow: auto;
            }
        }
    }
}

.doctor-informations{
    display: flex;
    width: 80%;

    & .doctor-img-bg{

        background-image: url('/images/jumbo_right_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: cemnter;
        justify-content: center;
        padding: 1.5rem;

         & .profile-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }
        
    }

    & .btn-primary{
        background-color: #338DFF;
    }

    
    
}


// breackpoint
//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px,
//xxl: 1400px




//query

@media screen and (max-width: 1199px) {
    
}


@media screen and (max-width: 991px) {
    
    .doctor-informations{
        width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .dashboard {
        
    
        & .content-container{
            
    
            & .edit-card{
                
                width: 100%;
            }
        }
    }

    .doctor-informations{
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    
}