.sidebar{
    width: 225px;
    background-color:#338DFF;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;

    & .dropdown{

        & img{
            width: 5rem;
            height: 5rem;
            border: 3px solid #E9F6FF;
            object-fit: cover;
            object-position: top;
            
            
        }
    }

    & .nav-pills{

        & .nav-link{
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: 1rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

        }

        & .nav-link.my-active{
            background-color: #E9F6FF;
            color: black !important;
        }
    }

}